!!! 5
%html
	%head
		%link{href:"./app.css", rel:"stylesheet"}
		%link{href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css", rel:"stylesheet"}
		%link{href:"https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,700i", rel:"stylesheet"}
		%meta{charset:"utf-8"}
		%title Nombre Apellido Apellido
	%body
		.workshop-background
			.row.center-xs
				.col-xs-10.col-sm-8.col-md-6
					.box
						%header.white-text.text-center
							.inline-block
								%img{src:"imgs/oxitocinamkt.png", height:"60"}
								.init
									Iniciamos transmición en:
								.restant-time
									%span 72
									%span :
									%span 22
									%span :
									%span 56